[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/nightly/cpu"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/nightly/cpu"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/nightly/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
notebook = "*"
nltk = "*"
spacy = "*"
gensim = "*"
numpy = "==1.22.0"
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
pandas = "*"
torch = "*"
protobuf = "==3.19"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
