[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
nltk = "*"
spacy = "*"
gensim = "*"
numpy = "==1.22.0"
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.9"
